.loading {
    text-align: center;
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    padding-top: 20%;
    background: rgba( 255, 255, 255, .5 )
                50% 50%
                no-repeat;
}

#loadinggif {
    width: 100px;
    height: 100px;
}