{% extends "base.html" %}
{% block content %}

    <h1 class="display-4">Examples Page Coming Soon!</h1>

    <div class="btn-toolbar" role="toolbar" aria-label="Group examples">
        <div class="btn-group mr-2" role="group" aria-label="examples">

            <form action="{{ url_for('examples') }}" method="post">
                <button type="submit" class="btn btn-secondary">Examples</button>
            </form>

            {% for examples_folder in examples_folders %}
                <form action="{{ url_for('examples', examples_id=examples_folder) }}" method="get">
                    {% if examples_id == examples_folder %}
                        <button type="submit" class="btn btn-primary">{{ examples_folder }}</button>
                    {% else %}
                        <button type="submit" class="btn btn-secondary">{{ examples_folder }}</button>
                    {% endif %}
                </form>
            {% endfor%}

        </div>
    </div>

{% endblock %}